.Layout {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.Layout-nav {
	margin: 4px;
}

main {
	padding: 10px;
}

.Layout-Paper {
	width: 700px;
	height: 380px;
}
